<div class="counter" style="margin-top: px;">
    <div class="counter_background" style="background-image:url(assets/images/counter_background.jpg)"></div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alert" style="margin-top: 135px;">
        <strong>success!</strong> Your data has been entered successfully .
        <button (click)="closealert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title" style="margin-top: 100px;">Add Admin</h2>
                    <div class="counter_text">
                        <p>Simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s,
                            when an unknown printer took a galley of
                            type and scrambled it to make a type specimen
                            Simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s,
                            when an unknown printer took a galley of
                            type and scrambled it to make a type specimen ,
                            Simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s
                            Simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s.

















                        </p>
                    </div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">




                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center"
                        style="margin-block-end:150px ;" style="margin-top: 100px;" [formGroup]="addadminform">
                        <div class="logo_text" style="margin-block-end: 30px;">Add<span>Admin</span></div>


                        <input type="text" class="counter_input" placeholder="First Name:" required="required"
                            formControlName="firstName">
                        <div
                            *ngIf="addadminform.controls['firstName'].invalid && (addadminform.controls['firstName'].touched ||addadminform.controls['firstName'].dirty) ">
                            <div *ngIf="addadminform.controls['firstName'].errors.required" style="color:blue;">
                                first name is required


                            </div>
                            <div *ngIf="addadminform.controls['firstName'].errors.minlength" style="color:blue;">
                                first name must have at leatse 3 characters

                            </div>

                        </div>







                        <input type="text" class="counter_input" placeholder="Last Name:" required="required"
                            formControlName="lastName">
                        <div
                            *ngIf="addadminform.controls['lastName'].invalid && (addadminform.controls['lastName'].touched ||addadminform.controls['lastName'].dirty) ">
                            <div *ngIf="addadminform.controls['lastName'].errors.required" style="color:blue;">
                                last name is required


                            </div>
                            <div *ngIf="addadminform.controls['lastName'].errors.minlength" style="color:blue;">
                                last name must have at leatse 3 characters

                            </div>

                        </div>












                        <input type="tel" class="counter_input" placeholder="Phone:" required="required"
                            formControlName="tel">

                        <div
                            *ngIf="addadminform.controls['tel'].invalid && (addadminform.controls['tel'].touched ||addadminform.controls['tel'].dirty) ">
                            <div *ngIf="addadminform.controls['tel'].errors.required" style="color:blue;">
                                phone is required


                            </div>
                            <div *ngIf="addadminform.controls['tel'].errors.minlength" style="color:blue;">
                                phone must have at leatse 8 characters

                            </div>

                        </div>




                        <input type="email" class="counter_input" placeholder="Email:" required="required"
                            formControlName="email">

                        <div
                            *ngIf="addadminform.controls['email'].invalid && (addadminform.controls['email'].touched ||addadminform.controls['email'].dirty) ">
                            <div *ngIf="addadminform.controls['email'].errors.required" style="color:blue;">
                                email is required


                            </div>
                            <div *ngIf="addadminform.controls['email'].errors.email" style="color:blue;">
                                email invalid

                            </div>

                        </div>
                        <input type="password" class="counter_input" placeholder="Password:" required="required"
                            formControlName="password">

                        <div
                            *ngIf="addadminform.controls['password'].invalid && (addadminform.controls['password'].touched ||addadminform.controls['password'].dirty) ">
                            <div *ngIf="addadminform.controls['password'].errors.required" style="color:blue;">
                                password is required


                            </div>
                            <div *ngIf="addadminform.controls['password'].errors.minlength" style="color:blue;">
                                password must have at leatse 8 characters

                            </div>

                        </div>




                        <button type="submit" class="counter_form_button" (click)="addadmin(addadminform.value)">Add
                            Admin</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>