<div class="col-lg-3 col-md-3 team_col">
    <div class="team_item">
        <div class="team_image"><img src="assets/images/team.jpg" alt=""></div>
        <div class="team_body">
            <div class="team_title">
                <p>{{childTeam.firstName}}</p>
                <p>  {{childTeam.lastName}}</p>

            </div>
            <div class="team_subtitle">
                <p>{{childTeam.Department}}</p>
            </div>
            <div class="social_list">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
