<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Latest News</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
            </div>
        </div>
        <div class="row news_row">
            <div class="col-lg-12 news_col">
                
                <!-- News Post Large -->
                <div class="news_post_large_container" class="text-center">
                    <div class="news_post_large">
                        <div class="news_post_image" class="text-center"><img src="assets/images/news_1.jpg" alt="" ></div>
                        <div class="news_post_large_title"> Our service allows   ”CrocoCoder” employees to get paid faster for their work.  and   help them  to access financial services easily , without difficulties.
                            But it's not the end there .
                    our goal is to become the most popular free invoicing software.</div>
                        <div class="news_post_meta">
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-lg- news_col">
                <div class="news_posts_small">

                   

                   

                   

                   

                </div>
            </div>
        </div>
    </div>
</div>
