<footer class="footer">
    
    <div class="container">
        <div class="row footer_row">
            <div class="col">
                <div class="footer_content">
                    <div class="row">

                        <div class="col-lg-3 footer_col">
                
                            <!-- Footer About -->
                            <div class="footer_section footer_about">
                                <div class="footer_logo_container">
                                    <a href="#">
                                        <div class="footer_logo_text">Croco<span>Coder</span></div><br>
                                        <img src="assets/images/crococoder.jpg" alt="" width="100" height="100"> 
                                    </a>
                                </div>
                                <div class="footer_about_text">
                                    <p>"CrocoCoder" est la nouvelle académie de développement de compétences en Tunisie qui assure la formation de profesionnels dans le domaine de l'IT. Nous formons toute personne voulant intégrer le monde de numérique.</p>
                                </div>
                                <div class="footer_social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 footer_col">
                
                            <!-- Footer Contact -->
                            <div class="footer_section footer_contact">
                                <div class="footer_title">Contact Us</div>
                                <div class="footer_contact_info">
                                    <ul>
                                        <li>Email:contact@crococoder.com</li>
                                        <li>Phone: 24600900</li>
                                        <li>Immeuble Yasmine Tower, Bloc B, 1er étage, A 1-5, Centre Urbain Nord, Tunis</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 footer_col">
                
                            <!-- Footer links -->
                            <div class="footer_section footer_links">
                                <div class="footer_title">Contact Us</div>
                                <div class="footer_links_container">
                                    <ul>
                                        <li><a routerLink="">Home</a></li>
                                        <li><a routerLink="footer">About</a></li>
                                        <li><a routerLink="team">Contact</a></li>
                                        <li><a routerLink="login">Administration</a></li>
                                        
                                      
                                       
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 footer_col clearfix">
                
                            <!-- Footer links -->
                            <div class="footer_section footer_mobile">
                                <div class="footer_title">Mobile</div>
                                <div class="footer_mobile_content">
                                    <div class="footer_image"><a href="#"><img src="assets/images/mobile_1.png" alt=""></a></div>
                                    <div class="footer_image"><a href="#"><img src="assets/images/mobile_2.png" alt=""></a></div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

       
    </div>
</footer>
