<!-- Home -->

<div class="home">
    <div class="home_slider_container">
        
        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
                
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">Customize  invoices</div>
                                <div class="home_slider_subtitle">Simple and professional invoicing software for your business
                                    Easy to use  and  Work smarter with it</div>
                                <div class="home_slider_form_container">
                                    <button type="button" class="btn btn-primary btn-lg" routerLink="signup">Register Now</button>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">Customize  invoices</div>
                                <div class="home_slider_subtitle">Simple and professional invoicing software for your business
                                    Easy to use  and  Work smarter with it</div>
                                <div class="home_slider_form_container">
                                    <button type="button" class="btn btn-primary btn-lg" routerLink="signup">Register Now</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">Customize  invoices</div>
                                <div class="home_slider_subtitle">Simple and professional invoicing software for your business
                                    Easy to use  and  Work smarter with it</div>
                                <div class="home_slider_form_container">
                                    <button type="button" class="btn btn-primary btn-lg" routerLink="signup">Register Now</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>
